
<h1>Formulario de Registro</h1>

<form [formGroup]="formularioContacto">
    <div>
        <label for="nombre">Nombre:</label><br>
        <input type="text" formControlName="nombre"><br><br>
        <span *ngIf="this.formularioContacto.get('nombre')?.value">existe</span>
    </div>
    <div>

        <label for="correo">Correo Electrónico:</label><br>
        <input type="email" formControlName="mail" ><br><br>
    </div>

    <label for="password">Contraseña:</label><br>
    <input type="password" formControlName="contraseña" ><br><br>

    <button type="button" [disabled]="!this.formularioContacto.valid" value="cambiarValores" (click)="obtener()">obtener datos</button>
</form>


